* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
         font-family: 'IBM Plex Sans Thai', sans-serif;
        background-color: #ffb8cd;
        line-height: 1.7;
        display: flex;
        flex-direction: column;
      }

      ul {
        list-style: none;
        padding: 10px;
      }

      .H{
        display: flex;
        flex-direction: column;
        margin: 50px 0 50px 430px;
      }

      .content{
        display: flex;
        width: 1100px;
        height: fit-content;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
      }

      .content2{
        display: flex;
        width: 1100px;
        height: 700px;
        background-color: #ffffff;
        border-radius: 25px;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
        justify-content: center;
      }

      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .item li{
        margin: 25px;
        display: flex;
        gap: 5px;
        align-items: center;
      }

      .tagh1{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #1565c0;
        color: white;
      }

      .tagh2{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #00897b;
        color: white;
      }

      .tagh3{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #43a047;
        color: white;
      }

      .tagh4{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #f9a825;
        color: white;
      }

      .tagh5{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #e64a19;
        color: white;
      }

      .tagh6{
        border-radius: 10px;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        background-color: #7e57c2;
        color: white;
      }

      pre{
        background: rgb(230, 230, 230);
        border-radius: 25px;
        border-left: #0b85fe 5px solid;
        border: 5px;
        width: 1000px;
        border-left: #ff77e1 5px solid;
      }

      .pre3{
        background: rgb(230, 230, 230);
        border-radius: 25px;
        border: 5px;
        width: 1000px;
        height: 320px;
        line-height: 1.2;
        padding-left: 50px;
        border-left: #ff77e1 5px solid;

      }

      nav{
        background: #f085a5;
        height: 100px;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.568);
        border-radius: 0px 0px 25px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      nav h1{
        color: white;
      }

      .button {
        background-color: #f085a5;
        color: white;
        padding: 15px 32px;
        font-size: 16px;
        margin: 4px 0px 4px 900px;
        border-radius: 25px;
        margin-top: 50px;
      }