* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: "Big Shoulders", sans-serif;
  color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header start------------------------------------------- */
.site-header {
  display: flex;
  justify-content: space-between;
  background-color: #0f1022;
  align-items: center;
  height: 120px;
  width: 1700px;
  margin: 40px;
  border-radius: 60px;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
  position: sticky;

  top: 20px;
  z-index: 1000;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 75px;
}

.brand-logo {
  width: 90px;
  height: 90px;
  background-color: #111827;
  border-radius: 50%;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.3);
}

.brand-text h2 {
  font-size: 30px;
}

.main-nav {
}

.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 75px;
}

.nav-list a {
  padding: 16px;
  text-decoration: none;
  border: 1px solid rgba(59, 131, 246, 0.256);
  border-radius: 50px;
  color: white;
  font-size: 20px;
}

.nav-list a:hover {
  background-color: rgb(255, 255, 255);
  color: #111827;
  transition: 0.7s;
}

/* Header End--------------------------------------------- */

/* main start--------------------------------------------- */

.main-layout {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-content {
  border: 1px solid#334155;
  border-radius: 26px;
  background-color: #111827;
}

/* HERO---------- */
.hero {
  padding: 25px;
  margin: 30px;
  border-radius: 24px;
  background-color: #0b1120;

  display: flex;
  justify-content: space-between;
}

.hero-text {
  margin: 20px;
}
.hero-text h1 {
  margin-bottom: 10px;
  font-size: 40px;
}

.hero-img {
  background-color: #334155;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.img-menu {
  display: flex;
  margin: 6px 20px;
  gap: 7px;
}

.red {
  border-radius: 50%;
  padding: 5px;
  background-color: red;
}
.yellow {
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(255, 191, 0);
}
.green {
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(0, 255, 0);
}
/* HERO---------- */

/* LINK---------- */
.link {
  padding: 25px;
  margin: 30px;
  margin-bottom: 20px;
  border-radius: 24px;
  background-color: #0b1120;
}

.link h2 {
  margin-bottom: 20px;
}

.content {
  display: flex;
  gap: 30px;
  height: 300px;
}

.result-box {
  border-radius: 25px;
  width: 400px;
  height: 400px;
}

.rb-header {
  background-color: #334155;
  display: flex;
  padding: 3px 3px 3px 30px;
  height: 40px;
  border-radius: 25px 25px 0px 0px;
  font-size: 15px;
}

.rb-text {
  background-color: #1e293b;
  border-radius: 0px 0px 25px 25px;
}
.rb-text a {
  margin-left: 40px;
  line-height: 3;
  color: white;
}

.mail {
  display: flex;
  gap: 6px;
  margin-left: 40px;
  margin-top: 10px;
}

.mail a {
  margin: 0;
  color: white;
}

._mail {
  border: 1px solid white;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 10px;

  font-size: 30px;
}

.B-back {
  padding-bottom: 40px;
}

.B-back a {
  padding: 5px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.c-box {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #1e293b;

  width: 600px;
  height: 300px;
}

.c-header {
  background-color: #334155;
  display: flex;
  padding: 3px 3px 3px 30px;
  height: 40px;
  border-radius: 25px 25px 0px 0px;
  font-size: 15px;
}

.c-text {
  background-color: #1e293b;
  border-radius: 0px 0px 25px 25px;
}

/* -------------------------- text Code -------------------------- */
.code-html {
  background-color: #0b1220;
  padding: 16px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.8;
  color: #e2e8f0;
  width: 500px;
  margin: 50px;
}

.code-line {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}

.line-number {
  color: #64748b;
  width: 30px;
  user-select: none;
}

.tag {
  color: #f472b6;
}

.attr {
  color: #60a5fa;
}

.string {
  color: #4ade80;
}
/* -------------------------- text Code -------------------------- */

/* LINK end---------- */

/* Image start---------- */
.card {
  padding: 25px;
  margin: 30px;
  border-radius: 24px;
  background-color: #0b1120;
  height: 404px;
}

.card h2 {
}

.Hheader {
  background-color: #334155;
  height: 40px;
  width: 400px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  border-radius: 25px 25px 0px 0px;
}

.image-content {
  width: 400px;
  height: 260px;
  background-color: #1e293b;
  border-radius: 0px 0px 25px 25px;
  display: flex;
}

.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 23px;
  gap: 25px;
}

.box-image img {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.image p {
  text-align: center;
}

.ci-box {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  background-color: #1e293b;

  width: 600px;
  height: 300px;
  margin-top: 20px;
}
/* Image end---------- */

.right-sidebar {
  border: 1px solid#334155;
  border-radius: 26px;
  background-color: #111827;
}

.side-card {
  padding: 25px;
  margin: 30px;
  border-radius: 24px;
  background-color: #0b1120;
}

.tag-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* tag----------- */
.tag-box span {
  width: 80px;
  height: 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-a {
  background-color: #e1edff;
  color: #3561a7;
}

.tag-href, .list-1 {
  background-color: #d9f8ff;
  color: #1f7094;
}

.tag-target {
  background-color: #e3f9e5;
  color: #1f613a;
}

.tag-img {
  background-color: #fff0dd;
  color: #bd4119;
}

.tag-src {
  background-color: #efe8ff;
  color: #6b37c8;
}

.tag-alt {
  background-color: #fce5f3;
  color: #ac2559;
}

.tag-width {
  background-color: #d6f8f3;
  color: #0e6e85;
}

.tag-height {
  background-color: #fff3ce;
  color: #b76a18;
}
/* tag----------- */

.card-content {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.number {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;

  background-color: aliceblue;
  border-radius: 50%;
  color: #000;
}

.list-text span{
    display: flex;
}

.submit-card{
  padding: 25px;
  margin: 30px;
  border-radius: 24px;
  background-color: #00b3ff;
  display: flex;
}

.airplan {
    font-size: 48px;
    position: relative;
}

.airplan h1 {
    margin: 0;
    rotate: 0deg;
}

.airplan h1:hover {
    animation: fly 2s forwards;
}

@keyframes fly {
    0% {
        transform: rotate(0deg) translateY(0);
    }

    50% {
        transform: rotate(45deg) translateY(0);
    }

    100% {
        transform: rotate(45deg) translateY(-1000px);
    }
}

.send-box{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* main End----------------------------------------------- */

/* tipbox */

.tip-box{
    border-radius: 60px;
    background-color: #111827;
    border: 1px solid #334155;
    width: 1300px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 25px;

}

.icon{
    display: flex;
    width: 75px;
    height: 75px;

    background-color: rgb(0, 136, 255);
    color: white;
    font-size: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tip-content {
    width: 1000px;
}

.emoji{
    font-size: 48px;
    flex-direction: column;

}